.form__content {
    padding: 80px 0 80px 0;
    display: flex;
    justify-content: center;
}

.form__content-number input {
    max-width: 400px;
    height: 40px;
    border: 1px solid #00A558;
    outline: 1px solid #00A558;
    margin: 0 10px 0 0;
    color: #333;
    font-size: 20px;
    padding: 0 10px 0 10px;

}

.form__content-number input:active {
    border: none;
}

.form__content-number a {

    border: none;
    padding: 15px 30px 15px 30px;
    border-radius: 25px;
}

.form__content-link {
    display: flex;
    justify-content: center;
}

.form__content-number a {
    text-decoration: none;
    font-size: 25px;
    background-color: #00A558;
    color: #fff;
}
.form__content-number{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

@media screen and (max-width: 516px) {
    .form__content-number a {
       margin-top: 10px;
    }
    .form__content-number{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .form__content-number input {
        margin:0;
  
    }
    
}