.form__content {
    padding: 80px 0 80px 0;
    display: flex;
    justify-content: center;
}

.form__content-number input {
    width: 400px;
    height: 73px;
    border: 2px solid #B165D4;
    outline: 2px solid #B165D4;
    margin: 0 10px 0 0;
    color: #333;
    font-size: 20px;
    padding: 0 10px 0 10px;

}

.form__content-number input:active {
    border: none;
}

.form__content-number span {
    font-size: 25px;
    background-color: #A43DD4;
    color: #fff;
    border: none;
    padding: 20px 30px 20px 30px;
    border-radius: 25px;
}

.form__content-number a {
    text-decoration: none;

}