.cleaning__container-tittle {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 100px;
    color: #00A558;
    font-size: 2.3rem;
    font-weight: 700;
    border-bottom: 2px solid #00A558;
}

.cleaning__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cleaning__container-item img {
    width: 300px;
}

.cleaning__container-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    margin: 2%;
}

.cleaning__container-item a button {
    background-color: #00A558;
    border: none;
    padding: 15px 20px 15px 20px;
    margin-top: 20px;
    font-weight: 100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: white;
}

.cleaning__container-items {
    margin: 10px 0 10px 0;
    width: 350px;
    font-family: 'Montserrat', sans-serif;
}

.cleaning__container-subtittle {
    width: 1200px;

}

.cleaning__container-sub {
    display: flex;
    justify-content: center;
    padding: 0 10px 0 10px;
}

.cleaning p {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    width: 1200px;
    text-align: center;
}